<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>Online Medical Store</display-name>
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controllers.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageProductsServlet</servlet-name>
        <servlet-class>controllers.ManageProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductsServlet</servlet-name>
        <url-pattern>/ManageProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>controllers.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/ManageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>controllers.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageFeedbackServlet</servlet-name>
        <servlet-class>controllers.ManageFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageFeedbackServlet</servlet-name>
        <url-pattern>/ManageFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageAuditServlet</servlet-name>
        <servlet-class>controllers.ManageAuditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageAuditServlet</servlet-name>
        <url-pattern>/ManageAuditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controllers.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
</web-app>